.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  min-width: 120px;
  height: 160px;
  margin: 15px;
  border-radius: 12px;
  border: 1px solid #fbf6f0;
  box-shadow: 3px 6px 5px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card__image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.card__image_1 {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.card__name {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
  object-fit: contain;
}

.card__singer {
  font-size: 10px;
  font-weight: 600;
  color: #999b84;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
}
