/* first container */
.home {
  height: 100vh;
  /* width: 100vw;  */
  padding-left: 20px;
  padding-right: 20px;
  /* added for scrolling effect */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* the music text on top */
.home__title {
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

/* used to apply border to individual section around them */
.one {
  border: 1px solid #f8f7de;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
}

/* container for global songs text and see all text */
.home__global {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__global__title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.home__global__seeall {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding-right: 20px;
}

.song__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
