.rightbar {
  height: 100vh;
  width: 300px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-left: 1px solid rgba(234, 237, 237);
}

@media screen and (max-width: 1150px) {
  .rightbar {
    display: none;
  }
}

.rightbar__notification {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.rightbar__item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.rightbar__item .MuiSvgIcon-root {
  margin-right: 20px;
  color: rgba(234, 237, 237);
}

.rightbar__item > span {
  font-size: 10px;
  color: gray;
  font-family: 'Poppins', sans-serif;
}

.rightbar__artist__title {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

.rightbar__artist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}
