.search {
  height: 100vh;
  width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}

/* code for search bar  */

.input {
  width: 700px;
  margin: 20px;
  padding: 10px;
}

.search {
}
